
@model IEnumerable<MyHealth.Models.ScoreCard>

@{
    ViewBag.Title = "_Scores";
}

<body class="table">
    @if (Model != null)
    {
        <table>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.DayScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WeekScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalScore)
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model.Where(x => x.ScoretDate.Date == DateTime.Now.Date))
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.DayScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WeekScore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalScore)
                    </td>

                </tr>

            }
        </table>
    }
</body>
   
